<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Annex A – Equipment Issuance</title>

<!-- Vue + Grist Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

<script src="invoice.js?ver=11"></script>
<link rel="stylesheet" href="invoice.css?ver=17">

</head>

<body>

<div id="app">

<div class="status" v-if="status">
<template v-if="status === 'waiting'">
<p>Waiting for data...</p>
<ul>
<li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
<li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
<li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
</ul>
</template>

<template v-else>
{{ status }}
</template>
</div>

<div class="invoice" v-if="invoice">
<template v-if="invoice">

<div class="top">

<div class="block">
<div class="header">
<div class="meta title">ANNEX A – EQUIPMENT ISSUANCE</div>
</div>
</div>

</div>

<div class="client">
<div class="title">NAME</div>
<div class="details">
{{ invoice["Full Name"] }}
</div>
</div>

<div style="margin-bottom:20px;"></div>

<table class="items">

<tr>
<th>Description</th>
<th>Brand</th>
<th>Model</th>
<th>Serial</th>
<th>Assigned Date</th>
</tr>

<tr v-for="item in invoice.Items">
<td>{{ item.Description }}</td>
<td>{{ item.Brand }}</td>
<td>{{ item.Model }}</td>
<td>{{ item.Serial }}</td>
<td>{{ item["Assigned date"] }}</td>
</tr>

</table>

<template v-if="invoice.Note">
<p class="note">{{ invoice.Note }}</p>
</template>

<br><br>

<div style="margin-top:40px;">

<p>Employee Signature: ________________________________</p>
<br>
<p>IT Custodian: ______________________________________</p>
<br>
<p>Date Issued: _______________________________________</p>

</div>

<div class="print">
<a href="javascript:window.print()">PRINT</a>
</div>

</template>
</div>

</div>

</body>
</html>
